server {
       listen 80 default_server;
       # listen [::]:80 default_server;

       server_name dev.linmagazine.co.il www.dev.linmagazine.co.il;

       root /Volumes/Data/uri/Code/lm7;
       
       if ($http_user_agent ~* (HTTrack|HTMLParser|libwww) ) {
           return 444;
       }
       if ($http_referer ~* (poker|sex|girl) ) {
           return 444;
       }
       
       if ($http_host != "dev.linmagazine.co.il") {
                 rewrite ^ http://dev.linmagazine.co.il$request_uri permanent;
       }

       rewrite ^/node/view/(.*)$ /node/$1 last;

       index index.php index.html;

       location = /favicon.ico {
                log_not_found off;
                access_log off;
       }
       location = /robots.txt {
                allow all;
                log_not_found off;
                access_log off;
       }
       # Make sure files with the following extensions do not get loaded by nginx because nginx would display the source code, and these files can contain PASSWORDS!
        location ~* \.(engine|inc|info|install|make|module|profile|test|po|sh|.*sql|theme|tpl(\.php)?|xtmpl)$|^(\..*|Entries.*|Repository|Root|Tag|Template)$|\.php_ {
                deny all;
        }
       # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
       location ~ /\. {
                deny all;
                access_log off;
                log_not_found off;
       }
       location / {
                try_files $uri $uri/ /index.php?$args;
       }
       location ~*  \.(jpg|jpeg|png|gif|css|js|ico)$ {
                expires max;
                log_not_found off;
       }
       location ~ \.php$ {
                try_files $uri =404;
                include /usr/local/etc/nginx/fastcgi_params;
                # fastcgi_pass unix:/usr/local/var/run/php-fastcgi/php-fastcgi.socket;
                fastcgi_pass unix:/tmp/php-fpm.sock;
                fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
       }
}
